.node {
    cursor: pointer;
  }
  
  .node circle {
    fill: rgba(13, 211, 46, 0.404);
    stroke: rgb(10, 39, 1);
    stroke-width: 1.5px;
    r: 50px;
  }
  
  .node text {
    align-content: center;
    font: 15px sans-serif;
    font-weight: bold;
  }
  
  .link {
    fill: none;
    stroke: rgb(6, 129, 37);
    stroke-width: 2.5px;
  }