body {
    width: 100vw;
    height: 100vh;
    text-align: center;
  }
  
  #container {
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  
  #chart,
  #text1,
  #text2 {
    flex: 1 100%;
    text-align: justify;
  }
  
  #chart {
    flex: 5 0px;
  }
  
  #text1 {
    order: 1;
  }
  
  #chart {
    order: 2;
  }
  
  #text2 {
    order: 3;
  }
  
  .node {
    cursor: pointer;
  }
  
  .node:hover {
    stroke: #000;
    stroke-width: 1.5px;
  }
  
  .node--leaf {
    fill: yellow;
  }
  
  .label {
    font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-anchor: middle;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
  }
  
  .label,
  .node--root,
  .node--leaf {
    pointer-events: none;
  }